html {
    font-size: 24px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
    background-color: rgb(153, 166, 172);
}

* {
    box-sizing: border-box;
    text-align: center;
}

button.newGame{
    height: 2rem;
    width: 4rem;
    font-style: italic;
    background-color: rgb(0, 0, 255);
    color:rgb(255, 255, 255);
    box-shadow: 1px solid rgb(255, 255, 255);

}

.forTheGamers{
    color: rgb(255, 255, 255);
    padding: 0rem;
}

.ul{
    list-style: none;
}

.tictactoe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(46, 141, 219); */
    text-align: center;
    padding: 0rem 0rem 0rem 20rem;
    box-shadow: 1px solid rgb(255, 255, 255);
    color:white;
    margin-top: 50px;

}

.tictactoe__row {
    display: flex;
}

.tictactoe__cell {
    border: 1px solid #ddd;
    height: 4rem;
    padding: .5rem;
    width: 4rem;
}